<div class="card">
  <div class="card-header">
    <h1>
      Modelos
    </h1>
  </div>

  <br>

  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let modelo"> {{modelo.id}} </td>
      </ng-container>

      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> NOME </th>
        <td mat-cell *matCellDef="let modelo"> {{modelo.nome}} </td>
      </ng-container>

      <!-- Ações -->
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> AÇÕES </th>
        <td mat-cell *matCellDef="let modelo">
          <div>
            <button mat-button color="primary" (click)="edit(modelo)">Editar</button>
            <button mat-button color="warn" (click)="delete(modelo)">Excluir</button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <hr>
    <button mat-stroked-button color="primary" (click)="save()">Salvar</button>
  </div>
</div>
